<main class="main">
    <section class="container">
        <h1 class=tech-blog-title> The Tech Blog</h1>
        <a class="hover" href='/login'><img class="login" id="buttons"  src="Images/Login.png" alt="login"></a>
        <a class="hover" href='/signup'><img class="signUp" id="buttons"  src="Images/Signup.png" alt="sign up"></a>
        <a class="guest font" href='/' id="buttons">Guest Account</a>
    </section>     
</main>