<main class="body"> 
    <h1 class="heading">{{username}}</h1>
    <div class="userBtns">
        <a class="back-button" href="/userBlogs/{{id}}">Blogs</a>
    </div>
    <div class='userContainer'>
        <section class="userImage font">
            <img class="theImage" src="{{picture}}"/>
        </section>

        {{#if allowIconEdit}}
        <section>
            <a href="/changeicon"><p class="change-image">Change Image</p></a>
        </section>
            {{/if}}
        
    </div>
</main>
